Repository HubSpot/ooo-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -l

general refactor and clean up
  .eslintignore
  .prettierignore
  LICENSE
  gatsby-config.js
  src/components/affordance.js
  src/components/choice.js
  src/components/page.js
  src/components/screens/choices.js
  src/components/screens/form.js
  src/components/screens/intro.js
  src/components/screens/loading.js
  src/components/screens/outro.js
  src/components/sharing.js
  src/components/style/headers.js
  src/components/style/themes.js
  src/components/style/tokens.js
  src/images/background-overlay.png
  src/images/background.png
  src/images/logo.png
  src/layouts/index.js
  src/pages/index.js
  static/og-image.png
  static/og.png
Due: eslint, prettier -l

Updates
  404.html
  404/index.html
  5-935744d1ec278191f939.js
  5-935744d1ec278191f939.js.map
  5-f298636ffb036eb64a5d.js
  5-f298636ffb036eb64a5d.js.map
  chunk-map.json
  component---src-pages-index-js-42cb63dbe1deca054662.js
  component---src-pages-index-js-42cb63dbe1deca054662.js.map
  component---src-pages-index-js-d9f3e8f599be18921e92.js
  component---src-pages-index-js-d9f3e8f599be18921e92.js.map
  index.html
  og-image.png
  og.png
  static/background-2d531c5d231ee0afb2d238160ba09e22.png
  static/d/2797735708.json
  static/d/3712469359.json
  static/d/429/path---index-6a9-jvNvXpzaeXegLQMIyh1af8aEBnY.json
  static/d/745/path---index-6a9-pK3syL0GU7DzALpnLTBYhjpcQ0.json
  webpack-runtime-35a691a28194418de33b.js
  webpack-runtime-35a691a28194418de33b.js.map
  webpack-runtime-eee9bc360a5b1a5bad9a.js
  webpack-runtime-eee9bc360a5b1a5bad9a.js.map
  webpack.stats.json
Due: eslint, prettier -l

add theme dropdown in form
  src/components/screens/form.js
  src/components/screens/generator.js
Due: eslint, prettier -l

add winter templates
  .prettierignore
  src/components/screens/choices.js
  src/components/screens/form.js
  src/components/screens/generator.js
  src/lib/templating.js
  src/pages/index.js
  templates/1.md
  templates/10.md
  templates/holiday/1-baby-its-cold-outside.md
  templates/holiday/10-cozy-inside.md
  templates/holiday/11-playlist-suggestions.md
  templates/holiday/12-trivia.md
  templates/holiday/13-cozy.md
  templates/holiday/14-holiday-bot.md
  templates/holiday/2-holiday-shopping.md
  templates/holiday/3-snow-day-for-parents.md
  templates/holiday/4-tis-the-season.md
  templates/holiday/5-adele-hello.md
  templates/holiday/6-nye-resolutions.md
  templates/holiday/7-2018-reflections.md
  templates/holiday/8-fireplace-video-loop.md
  templates/holiday/9-quiet-office-holiday-season.md
  templates/summer/1.md
  templates/summer/10.md
  templates/summer/11.md
  templates/summer/12.md
  templates/summer/13.md
  templates/summer/14.md
  templates/summer/15.md
  templates/summer/2.md
  templates/summer/3.md
  templates/summer/4.md
  templates/summer/5.md
  templates/summer/6.md
  templates/summer/7.md
  templates/summer/8.md
  templates/summer/9.md
Due: eslint, prettier -l

Updates
  4-96c6ab98e9463b35c6ca.js
  4-96c6ab98e9463b35c6ca.js.map
  4-9a6837c98d1c3ff694c0.js
  4-9a6837c98d1c3ff694c0.js.map
  404.html
  404/index.html
  5-935744d1ec278191f939.js
  5-935744d1ec278191f939.js.map
  5-e492119b435f9eb4009a.js
  5-e492119b435f9eb4009a.js.map
  app-01bc142387d91752f9fa.js
  app-01bc142387d91752f9fa.js.map
  app-9679abd45cf6cdf53651.js.map
  chunk-map.json
  component---src-pages-index-js-227edac981c9d76c6e7c.js
  component---src-pages-index-js-227edac981c9d76c6e7c.js.map
  component---src-pages-index-js-42cb63dbe1deca054662.js
  component---src-pages-index-js-42cb63dbe1deca054662.js.map
  component---src-pages-index-js.6d0ffec6ec6c1945a243.css
  index.html
  static/d/538/path---index-6a9-p4emPYsjArUjawIikz265k60YV4.json
  static/d/745/path---index-6a9-pK3syL0GU7DzALpnLTBYhjpcQ0.json
  webpack-runtime-35a691a28194418de33b.js
  webpack-runtime-35a691a28194418de33b.js.map
  webpack-runtime-cd0f432456e5448161b2.js
  webpack-runtime-cd0f432456e5448161b2.js.map
  webpack.stats.json
Due: eslint, prettier -l

Updates
  404.html
  404/index.html
  5-5e475d0350affdf2efc0.js
  5-5e475d0350affdf2efc0.js.map
  5-e492119b435f9eb4009a.js
  5-e492119b435f9eb4009a.js.map
  app-01bc142387d91752f9fa.js.map
  app-9679abd45cf6cdf53651.js
  app-9679abd45cf6cdf53651.js.map
  chunk-map.json
  component---src-pages-index-js.832f33a45c01d28e0b89.css
  index.html
  static/d/538/path---index-6a9-p4emPYsjArUjawIikz265k60YV4.json
  static/d/73/path---index-6a9-yDCOdHVNqoqtxfeiNPu86fVSSbQ.json
  webpack-runtime-194eb05eb59e06bbfa2a.js
  webpack-runtime-194eb05eb59e06bbfa2a.js.map
  webpack-runtime-cd0f432456e5448161b2.js
  webpack-runtime-cd0f432456e5448161b2.js.map
  webpack.stats.json
Due: eslint, prettier -l

make form fields required
  src/components/screens/form.js
  src/components/screens/generator.js
Due: eslint, prettier -l

add regenerate function
  src/components/choice.js
  src/components/screens/choices.js
  src/components/screens/generator.js
Due: eslint, prettier -l

fix typo in template
  templates/holiday/13-cozy.md
Due: prettier -l

Updates
  4-08b5162ddc3c07e60311.js
  4-08b5162ddc3c07e60311.js.map
  4-9a6837c98d1c3ff694c0.js
  4-9a6837c98d1c3ff694c0.js.map
  404.html
  404/index.html
  5-5e475d0350affdf2efc0.js
  5-5e475d0350affdf2efc0.js.map
  5-d14f318611fd33a24bab.js
  5-d14f318611fd33a24bab.js.map
  app-069f12e836e9a66f4a05.js
  app-069f12e836e9a66f4a05.js.map
  app-9679abd45cf6cdf53651.js
  app-9679abd45cf6cdf53651.js.map
  chunk-map.json
  component---src-pages-index-js-227edac981c9d76c6e7c.js
  component---src-pages-index-js-227edac981c9d76c6e7c.js.map
  component---src-pages-index-js-7a369319e369ea458ae0.js
  component---src-pages-index-js-7a369319e369ea458ae0.js.map
  component---src-pages-index-js.6d0ffec6ec6c1945a243.css
  index.html
  static/d/447/path---index-6a9-ibXd5gSDD57LuPFtT2cNGytg4M.json
  static/d/73/path---index-6a9-yDCOdHVNqoqtxfeiNPu86fVSSbQ.json
  webpack-runtime-194eb05eb59e06bbfa2a.js
  webpack-runtime-194eb05eb59e06bbfa2a.js.map
  webpack-runtime-5282ddfc2d89e73dd9e9.js
  webpack-runtime-5282ddfc2d89e73dd9e9.js.map
  webpack.stats.json
Due: eslint, prettier -l

Updates
  404.html
  404/index.html
  5-45e0faa7536a90c154b0.js
  5-45e0faa7536a90c154b0.js.map
  5-d14f318611fd33a24bab.js
  5-d14f318611fd33a24bab.js.map
  app-069f12e836e9a66f4a05.js.map
  app-31a223bcc7a2a95ce069.js
  app-31a223bcc7a2a95ce069.js.map
  chunk-map.json
  component---src-pages-index-js.832f33a45c01d28e0b89.css
  index.html
  static/d/447/path---index-6a9-ibXd5gSDD57LuPFtT2cNGytg4M.json
  static/d/653/path---index-6a9-Uzcueapf7JKUUGyfjdm21kiMlzo.json
  webpack-runtime-409212f6f0bbc57d6fa5.js
  webpack-runtime-409212f6f0bbc57d6fa5.js.map
  webpack-runtime-5282ddfc2d89e73dd9e9.js
  webpack-runtime-5282ddfc2d89e73dd9e9.js.map
  webpack.stats.json
Due: eslint, prettier -l

Updates
  404.html
  404/index.html
  5-45e0faa7536a90c154b0.js
  5-45e0faa7536a90c154b0.js.map
  5-d14f318611fd33a24bab.js
  5-d14f318611fd33a24bab.js.map
  app-069f12e836e9a66f4a05.js
  app-069f12e836e9a66f4a05.js.map
  app-31a223bcc7a2a95ce069.js.map
  chunk-map.json
  component---src-pages-index-js-7a369319e369ea458ae0.js
  component---src-pages-index-js-7a369319e369ea458ae0.js.map
  component---src-pages-index-js-8a0284cc5ba819d2c1fa.js
  component---src-pages-index-js-8a0284cc5ba819d2c1fa.js.map
  component---src-pages-index-js.6d0ffec6ec6c1945a243.css
  index.html
  static/d/447/path---index-6a9-ibXd5gSDD57LuPFtT2cNGytg4M.json
  static/d/653/path---index-6a9-Uzcueapf7JKUUGyfjdm21kiMlzo.json
  webpack-runtime-10bcb85821e8f5454efb.js
  webpack-runtime-10bcb85821e8f5454efb.js.map
  webpack-runtime-409212f6f0bbc57d6fa5.js
  webpack-runtime-409212f6f0bbc57d6fa5.js.map
  webpack.stats.json
Due: eslint, prettier -l

Updates
  404.html
  404/index.html
  chunk-map.json
  component---src-pages-index-js-7a369319e369ea458ae0.js
  component---src-pages-index-js-7a369319e369ea458ae0.js.map
  component---src-pages-index-js-8a0284cc5ba819d2c1fa.js
  component---src-pages-index-js-8a0284cc5ba819d2c1fa.js.map
  index.html
  webpack-runtime-10bcb85821e8f5454efb.js
  webpack-runtime-10bcb85821e8f5454efb.js.map
  webpack-runtime-5282ddfc2d89e73dd9e9.js
  webpack-runtime-5282ddfc2d89e73dd9e9.js.map
  webpack.stats.json
Due: eslint, prettier -l

Updates
  404.html
  404/index.html
  chunk-map.json
  component---src-pages-index-js-7a369319e369ea458ae0.js
  component---src-pages-index-js-7a369319e369ea458ae0.js.map
  component---src-pages-index-js-aacf3043cc367d904ea1.js
  component---src-pages-index-js-aacf3043cc367d904ea1.js.map
  component---src-pages-index-js.832f33a45c01d28e0b89.css
  index.html
  webpack-runtime-5282ddfc2d89e73dd9e9.js
  webpack-runtime-5282ddfc2d89e73dd9e9.js.map
  webpack-runtime-55b570a3c3b67955b167.js
  webpack-runtime-55b570a3c3b67955b167.js.map
  webpack.stats.json
Due: eslint, prettier -l

Updates
  404.html
  404/index.html
  chunk-map.json
  component---src-pages-index-js-aacf3043cc367d904ea1.js
  component---src-pages-index-js-aacf3043cc367d904ea1.js.map
  component---src-pages-index-js-b9483795893c01644513.js
  component---src-pages-index-js-b9483795893c01644513.js.map
  index.html
  webpack-runtime-55b570a3c3b67955b167.js
  webpack-runtime-55b570a3c3b67955b167.js.map
  webpack-runtime-8c13f609f1ff396a3302.js
  webpack-runtime-8c13f609f1ff396a3302.js.map
  webpack.stats.json
Due: eslint, prettier -l

Updates
  404.html
  404/index.html
  5-97435ac9e4de28e273c8.js
  5-97435ac9e4de28e273c8.js.map
  5-d14f318611fd33a24bab.js
  5-d14f318611fd33a24bab.js.map
  chunk-map.json
  component---src-pages-index-js-2fc829b666f1a5f9adef.js
  component---src-pages-index-js-2fc829b666f1a5f9adef.js.map
  component---src-pages-index-js-b9483795893c01644513.js
  component---src-pages-index-js-b9483795893c01644513.js.map
  index.html
  static/d/447/path---index-6a9-ibXd5gSDD57LuPFtT2cNGytg4M.json
  static/d/55/path---index-6a9-uL1WzlxvnrTFYrl8HbkkCkRoTc.json
  webpack-runtime-4c1f15713a6f18bf5301.js
  webpack-runtime-4c1f15713a6f18bf5301.js.map
  webpack-runtime-8c13f609f1ff396a3302.js
  webpack-runtime-8c13f609f1ff396a3302.js.map
  webpack.stats.json
Due: eslint, prettier -l

fix use of rgba
  src/components/style/tokens.js
Due: eslint, prettier -l

Updates
  404.html
  404/index.html
  5-0e07c02842e40d24e446.js
  5-0e07c02842e40d24e446.js.map
  5-97435ac9e4de28e273c8.js
  5-97435ac9e4de28e273c8.js.map
  app-069f12e836e9a66f4a05.js.map
  app-31a223bcc7a2a95ce069.js
  app-31a223bcc7a2a95ce069.js.map
  chunk-map.json
  component---src-pages-index-js-2fc829b666f1a5f9adef.js
  component---src-pages-index-js-2fc829b666f1a5f9adef.js.map
  component---src-pages-index-js-cc60abc0d9f125120e9e.js
  component---src-pages-index-js-cc60abc0d9f125120e9e.js.map
  index.html
  static/d/488/path---index-6a9-4LMsYV9oNoOSUeXdmqfRJHhgYz4.json
  static/d/55/path---index-6a9-uL1WzlxvnrTFYrl8HbkkCkRoTc.json
  webpack-runtime-4ad102860f0d420a1a6a.js
  webpack-runtime-4ad102860f0d420a1a6a.js.map
  webpack-runtime-4c1f15713a6f18bf5301.js
  webpack-runtime-4c1f15713a6f18bf5301.js.map
  webpack.stats.json
Due: eslint, prettier -l

Updates
  404.html
  404/index.html
  5-0e07c02842e40d24e446.js
  5-0e07c02842e40d24e446.js.map
  5-44c4e96f354c6b4450d2.js
  5-44c4e96f354c6b4450d2.js.map
  index.html
  static/d/488/path---index-6a9-4LMsYV9oNoOSUeXdmqfRJHhgYz4.json
  static/d/502/path---index-6a9-0pMIAy82dQ0RMafz6ZjUSPQhiY.json
  webpack-runtime-1ad3ed09db396d213516.js
  webpack-runtime-1ad3ed09db396d213516.js.map
  webpack-runtime-4ad102860f0d420a1a6a.js
  webpack-runtime-4ad102860f0d420a1a6a.js.map
  webpack.stats.json
Due: eslint, prettier -l

Update CNAME
  CNAME
Due: none

add another Holiday template
  templates/holiday/15-ho-ho-ho.md
Due: prettier -l

add voting templates for hannah
  package.json
  src/components/screens/form.js
  src/components/screens/generator.js
  templates/voting/1.md
  templates/voting/2.md
  templates/voting/3.md
  templates/voting/4.md
Due: eslint, prettier -l

use node 12
  .blazar.yaml
Due: none

jacob said try node 11
  .blazar.yaml
Due: none

setup ci workflow
  .github/workflows/node.js.yml
Due: none

update commands, fix prettier/eslint
  package.json
  src/components/screens/choices.js
  src/components/screens/generator.js
  src/layouts/index.js
  src/lib/window.js
Due: eslint, prettier -l

remove blazar files
  .blazar-enabled
  .blazar.yaml
Due: none

Update 4.md
  templates/voting/4.md
Due: prettier -l

Update 3.md
  templates/voting/3.md
Due: prettier -l

Update 2.md
  templates/voting/2.md
Due: prettier -l

Update 1.md
  templates/voting/1.md
Due: prettier -l

update lockfile
  package-lock.json
Due: prettier -l

fix npm security issues, allow html in templates
  package-lock.json
  package.json
  src/components/choice.js
  src/components/screens/generator.js
  src/lib/templating.js
Due: eslint, prettier -l

Path conditions:
  eslint: any of: *.js
  prettier -l: any of: **/*.{md,css,js,json}
