Repository HubSpot/ooo-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -l

add favicon
  static/favicon.ico
Due: none

Updates
  404.html
  404/index.html
  chunk-manifest.json
  commons-cd2a6a9ec5107a8c5d42.js.map
  component---src-layouts-index-js-15952e018f79d347184c.js
  component---src-layouts-index-js-15952e018f79d347184c.js.map
  component---src-layouts-index-js-2ee3db50bab6f5c83086.js
  component---src-layouts-index-js-2ee3db50bab6f5c83086.js.map
  index.html
  stats.json
Due: eslint, prettier -l

add link tag for favicon
  src/layouts/index.js
Due: eslint, prettier -l

update affordance logic
  src/components/affordance.js
  src/components/screens/intro.js
Due: eslint, prettier -l

add scrollTo prop and affordance to generator
  src/components/affordance.js
  src/components/screens/generator.js
  src/components/screens/intro.js
  src/lib/window.js
Due: eslint, prettier -l

Updates
  404.html
  404/index.html
  app-b6b70f249b370e087b10.js
  app-b6b70f249b370e087b10.js.map
  chunk-manifest.json
  commons-cd2a6a9ec5107a8c5d42.js
  commons-cd2a6a9ec5107a8c5d42.js.map
  component---src-layouts-index-js-15952e018f79d347184c.js
  component---src-layouts-index-js-15952e018f79d347184c.js.map
  component---src-pages-404-js-4ef2a68bca7afc99839d.js
  component---src-pages-404-js-4ef2a68bca7afc99839d.js.map
  component---src-pages-index-js-a6686db6e09ba0154503.js
  component---src-pages-index-js-a6686db6e09ba0154503.js.map
  component---src-pages-index-js-dbb343a0f0005e4eea68.js
  component---src-pages-index-js-dbb343a0f0005e4eea68.js.map
  index.html
  path---404-a0e39f21c11f6a62c5ab.js
  path---404-a0e39f21c11f6a62c5ab.js.map
  path---404-html-a0e39f21c11f6a62c5ab.js
  path---404-html-a0e39f21c11f6a62c5ab.js.map
  path---index-3eb7012de37e04b1e203.js
  path---index-3eb7012de37e04b1e203.js.map
  stats.json
Due: eslint, prettier -l

check document/window for ssr
  src/lib/window.js
Due: eslint, prettier -l

remove travis configurations
  .travis.yml
Due: none

add blazar build steps
  .blazar-enabled
  .blazar.yaml
Due: none

add auto-deploy step using travis.ci
  .travis.yml
Due: none

trivial change to test blazar webhook
  README.md
Due: prettier -l

add missing build env
  .blazar.yaml
Due: none

add node version
  .blazar.yaml
Due: none

Updates
  404.html
  404/index.html
  app-682bba004d1f52ad4303.js
  app-682bba004d1f52ad4303.js.map
  app-b6b70f249b370e087b10.js.map
  chunk-manifest.json
  commons-cd2a6a9ec5107a8c5d42.js.map
  component---src-layouts-index-js-15952e018f79d347184c.js.map
  component---src-layouts-index-js-ba93f0ae4acad80e5b29.js
  component---src-layouts-index-js-ba93f0ae4acad80e5b29.js.map
  component---src-pages-index-js-a6686db6e09ba0154503.js
  component---src-pages-index-js-a6686db6e09ba0154503.js.map
  index.html
  path---index-2ac6b78088c2fccf973d.js
  path---index-2ac6b78088c2fccf973d.js.map
  path---index-3eb7012de37e04b1e203.js
  path---index-3eb7012de37e04b1e203.js.map
  stats.json
Due: eslint, prettier -l

update font family for form fields
  src/components/screens/form.js
Due: eslint, prettier -l

Updates
  404.html
  404/index.html
  chunk-manifest.json
  commons-cd2a6a9ec5107a8c5d42.js.map
  component---src-pages-index-js-a42f7cd84e54f16943bf.js
  component---src-pages-index-js-a42f7cd84e54f16943bf.js.map
  component---src-pages-index-js-a6686db6e09ba0154503.js.map
  index.html
  path---index-2ac6b78088c2fccf973d.js
  path---index-2ac6b78088c2fccf973d.js.map
  path---index-4d5a6e59f61e560194af.js
  path---index-4d5a6e59f61e560194af.js.map
  stats.json
Due: eslint, prettier -l

Updates
  404.html
  404/index.html
  app-682bba004d1f52ad4303.js.map
  app-b6b70f249b370e087b10.js
  app-b6b70f249b370e087b10.js.map
  chunk-manifest.json
  commons-cd2a6a9ec5107a8c5d42.js.map
  component---src-layouts-index-js-15952e018f79d347184c.js
  component---src-layouts-index-js-15952e018f79d347184c.js.map
  component---src-layouts-index-js-ba93f0ae4acad80e5b29.js.map
  component---src-pages-index-js-a42f7cd84e54f16943bf.js
  component---src-pages-index-js-a42f7cd84e54f16943bf.js.map
  index.html
  path---index-3eb7012de37e04b1e203.js
  path---index-3eb7012de37e04b1e203.js.map
  path---index-4d5a6e59f61e560194af.js
  path---index-4d5a6e59f61e560194af.js.map
  stats.json
Due: eslint, prettier -l

update copy and text styles
  src/components/screens/outro.js
  src/components/style/headers.js
Due: eslint, prettier -l

Updates
  404.html
  404/index.html
  app-682bba004d1f52ad4303.js
  app-682bba004d1f52ad4303.js.map
  app-b6b70f249b370e087b10.js.map
  chunk-manifest.json
  commons-cd2a6a9ec5107a8c5d42.js.map
  component---src-layouts-index-js-15952e018f79d347184c.js.map
  component---src-layouts-index-js-ba93f0ae4acad80e5b29.js
  component---src-layouts-index-js-ba93f0ae4acad80e5b29.js.map
  component---src-pages-index-js-a42f7cd84e54f16943bf.js
  component---src-pages-index-js-a42f7cd84e54f16943bf.js.map
  component---src-pages-index-js-dfa3b96dd48fb80f9b66.js
  component---src-pages-index-js-dfa3b96dd48fb80f9b66.js.map
  index.html
  path---index-3eb7012de37e04b1e203.js
  path---index-3eb7012de37e04b1e203.js.map
  path---index-d72738d2be0b173723d3.js
  path---index-d72738d2be0b173723d3.js.map
  stats.json
Due: eslint, prettier -l

Fix typo
  templates/8.md
Due: prettier -l

Updates
  404.html
  404/index.html
  chunk-manifest.json
  commons-cd2a6a9ec5107a8c5d42.js.map
  index.html
  path---index-c002bab014a72a81690b.js
  path---index-c002bab014a72a81690b.js.map
  path---index-d72738d2be0b173723d3.js
  path---index-d72738d2be0b173723d3.js.map
  stats.json
Due: eslint, prettier -l

add new templates
  templates/13.md
  templates/14.md
  templates/15.md
Due: prettier -l

update form field to use leave date
  src/components/screens/choices.js
  src/components/screens/form.js
  src/components/screens/generator.js
  src/lib/templating.js
Due: eslint, prettier -l

Updates
  404.html
  404/index.html
  chunk-manifest.json
  commons-cd2a6a9ec5107a8c5d42.js.map
  component---src-pages-index-js-053932a3f9b334ab71b8.js
  component---src-pages-index-js-053932a3f9b334ab71b8.js.map
  component---src-pages-index-js-dfa3b96dd48fb80f9b66.js.map
  index.html
  path---index-2df42867237545ad8106.js
  path---index-2df42867237545ad8106.js.map
  path---index-c002bab014a72a81690b.js
  path---index-c002bab014a72a81690b.js.map
  stats.json
Due: eslint, prettier -l

Add help copy
  src/components/screens/form.js
Due: eslint, prettier -l

Updates
  404.html
  404/index.html
  chunk-manifest.json
  commons-cd2a6a9ec5107a8c5d42.js.map
  component---src-pages-index-js-053932a3f9b334ab71b8.js.map
  component---src-pages-index-js-9a757944933625b6a97c.js
  component---src-pages-index-js-9a757944933625b6a97c.js.map
  index.html
  path---index-2df42867237545ad8106.js
  path---index-2df42867237545ad8106.js.map
  path---index-fafebc1b393f3d05bb31.js
  path---index-fafebc1b393f3d05bb31.js.map
  stats.json
Due: eslint, prettier -l

Update button font
  src/components/choice.js
Due: eslint, prettier -l

Updates
  404.html
  404/index.html
  chunk-manifest.json
  commons-cd2a6a9ec5107a8c5d42.js.map
  component---src-pages-index-js-501660000ebde78092f8.js
  component---src-pages-index-js-501660000ebde78092f8.js.map
  component---src-pages-index-js-9a757944933625b6a97c.js.map
  index.html
  path---index-4aebb520f4bfc1666138.js
  path---index-4aebb520f4bfc1666138.js.map
  path---index-fafebc1b393f3d05bb31.js
  path---index-fafebc1b393f3d05bb31.js.map
  stats.json
Due: eslint, prettier -l

update watermark on copied text
  src/components/choice.js
Due: eslint, prettier -l

Updates
  404.html
  404/index.html
  chunk-manifest.json
  commons-cd2a6a9ec5107a8c5d42.js.map
  component---src-pages-index-js-501660000ebde78092f8.js.map
  component---src-pages-index-js-9abdf63d456f8dd0685f.js
  component---src-pages-index-js-9abdf63d456f8dd0685f.js.map
  index.html
  path---index-4aebb520f4bfc1666138.js
  path---index-4aebb520f4bfc1666138.js.map
  path---index-b6f2fe153f82ad49c6bd.js
  path---index-b6f2fe153f82ad49c6bd.js.map
  stats.json
Due: eslint, prettier -l

opengraph data
  src/layouts/index.js
  static/og.png
Due: eslint, prettier -l

compress image
  static/og.png
Due: none

Updates
  404.html
  404/index.html
  chunk-manifest.json
  commons-cd2a6a9ec5107a8c5d42.js.map
  component---src-layouts-index-js-3d4564a06a01556b1209.js
  component---src-layouts-index-js-3d4564a06a01556b1209.js.map
  component---src-layouts-index-js-ba93f0ae4acad80e5b29.js
  component---src-layouts-index-js-ba93f0ae4acad80e5b29.js.map
  index.html
  og.png
  path---index-b6f2fe153f82ad49c6bd.js
  path---index-b6f2fe153f82ad49c6bd.js.map
  path---index-d76430d80804a9892f80.js
  path---index-d76430d80804a9892f80.js.map
  stats.json
Due: eslint, prettier -l

whoops
  src/layouts/index.js
Due: eslint, prettier -l

Path conditions:
  eslint: any of: *.js
  prettier -l: any of: **/*.{md,css,js,json}
