Repository HubSpot/ooo-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -l

.lintstagedrc:

{
  "*.js": [
    "eslint"
  ],
  "**/*.{md,css,js,json}": [
    "prettier -l"
  ]
}

add makefile
  makefile
  package.json
Due: prettier -l

format and lint all files with configurations
  README.md
  src/components/choice.js
  src/components/date-range-picker.js
  src/components/page.js
  src/components/screens/choices.js
  src/components/screens/form.js
  src/components/screens/intro.js
  src/components/screens/loading.js
  src/components/screens/outro.js
  src/components/style/headers.js
  src/components/style/themes.js
  src/components/style/tokens.js
  src/layouts/index.js
  src/pages/404.js
  src/pages/index.js
Due: eslint, prettier -l

update readme
  README.md
Due: prettier -l

add back instruction to install gatsby cli
  README.md
Due: prettier -l

add makefile steps as npm scripts
  package.json
Due: prettier -l

one last package install and format
  README.md
Due: prettier -l

add dev configurations (#11)
  .eslintignore
  .eslintrc
  .lintstagedrc
  .prettierignore
  README.md
  makefile
  package-lock.json
  package.json
  src/components/choice.js
  src/components/date-range-picker.js
  src/components/page.js
  src/components/screens/choices.js
  src/components/screens/form.js
  src/components/screens/intro.js
  src/components/screens/loading.js
  src/components/screens/outro.js
  src/components/style/headers.js
  src/components/style/themes.js
  src/components/style/tokens.js
  src/layouts/index.js
  src/pages/404.js
  src/pages/index.js
Due: eslint, prettier -l

fix react warnings
  src/components/style/headers.js
Due: eslint, prettier -l

add material icon fonts
  README.md
  src/styles/index.css
Due: prettier -l

add debounce and smooth scroll packages
  package-lock.json
  package.json
Due: prettier -l

first pass at accordance on intro
  src/components/affordance.js
  src/components/hoc/waypoint.js
  src/components/screens/intro.js
  src/layouts/index.js
  src/styles/index.css
Due: eslint, prettier -l

add lodash and recompose
  package-lock.json
  package.json
  src/components/hoc/waypoint.js
Due: eslint, prettier -l

fix unknown prop errors using hoc
  src/components/hoc/omitProps.js
  src/components/style/headers.js
Due: eslint, prettier -l

clean up affordance code
  src/components/affordance.js
  src/components/hoc/waypoint.js
  src/components/screens/intro.js
Due: eslint, prettier -l

'meh' version of affordance scroll (#14)
  README.md
  package-lock.json
  package.json
  src/components/affordance.js
  src/components/hoc/omitProps.js
  src/components/screens/intro.js
  src/components/style/headers.js
  src/layouts/index.js
  src/styles/index.css
Due: eslint, prettier -l

add npm-debug.log to gitignore
  .gitignore
Due: none

add missing gh-pages script
  package.json
Due: prettier -l

add clipboard.js
  package-lock.json
  package.json
Due: prettier -l

add clipboard copy feature
  src/components/choice.js
Due: eslint, prettier -l

add simple tooltip sans styles
  src/components/choice.js
Due: eslint, prettier -l

Add new background color with overlay
  src/components/page.js
  src/components/style/tokens.js
  src/images/background-overlay.png
Due: eslint, prettier -l

add clipboard copy to buttons (#15)
  package-lock.json
  package.json
  src/components/choice.js
Due: eslint, prettier -l

add gatsby markdown plugins
  package-lock.json
  package.json
Due: prettier -l

Replace airplane spinner with react-spinner
  package.json
  src/components/screens/loading.js
  src/images/plane-loading.gif
  src/styles/index.css
  src/styles/react-spinner.css
Due: eslint, prettier -l

add more specific prettierignore
  .prettierignore
Due: none

configure gatsby markdown plugins and add templates
  gatsby-config.js
  templates/1.md
  templates/2.md
  templates/3.md
  templates/4.md
  templates/5.md
  templates/6.md
  templates/7.md
Due: eslint, prettier -l

use randomized messages in application
  src/components/screens/choices.js
  src/pages/index.js
Due: eslint, prettier -l

add basic templating using metadata
  src/components/screens/choices.js
  src/lib/templating.js
  src/pages/index.js
Due: eslint, prettier -l

use lodash.fp for interpolation
  src/components/screens/choices.js
  src/lib/templating.js
Due: eslint, prettier -l

add react-spinner to package-lock.json
  package-lock.json
Due: prettier -l
