Repository HubSpot/ooo-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -l

copy updates from hannah
  README.md
  gatsby-config.js
  src/components/screens/choices.js
  src/components/screens/form.js
  src/components/screens/loading.js
  src/components/screens/outro.js
  templates/voting/3.md
Due: eslint, prettier -l

tagline updates
  gatsby-config.js
  src/pages/index.js
Due: eslint, prettier -l

use github workflow
  .github/workflows/node.js.yml
Due: none

add FAQ section
  src/components/screens/faq.js
  src/components/screens/form.js
  src/components/screens/outro.js
  src/components/style/text.js
  src/layouts/index.js
  src/pages/index.js
Due: eslint, prettier -l

create deploy preview action
  .github/workflows/main.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

tweaks
  src/components/screens/faq.js
Due: eslint, prettier -l

Deploying to gh-pages from @ 97c6d69bf30f977fa8394c17e163654b0e6a3cb5 🚀
  404.html
  404/index.html
  chunk-map.json
  component---src-pages-index-js-2f46ecf2764d1b0e30d5.js
  component---src-pages-index-js-2f46ecf2764d1b0e30d5.js.map
  component---src-pages-index-js-9ef90fc21037481ea13b.js
  component---src-pages-index-js-9ef90fc21037481ea13b.js.map
  index.html
  page-data/app-data.json
  page-data/index/page-data.json
  webpack-runtime-138e26c91a93f4b74073.js
  webpack-runtime-138e26c91a93f4b74073.js.map
  webpack-runtime-e667a7411558728f7952.js
  webpack-runtime-e667a7411558728f7952.js.map
  webpack.stats.json
Due: eslint, prettier -l

bump version of ghpages deploy action
  .github/workflows/node.js.yml
Due: none

add sustainability messages
  gatsby-config.js
  src/components/screens/faq.js
  src/components/screens/form.js
  src/layouts/index.js
  templates/sustainability/1.md
  templates/sustainability/2.md
  templates/sustainability/3.md
  templates/sustainability/4.md
  templates/sustainability/5.md
Due: eslint, prettier -l

Deploying to gh-pages from @ 6bf3244dce9e453e2c5017e15dcc8ee89696dc36 🚀
  404.html
  404/index.html
  chunk-map.json
  component---src-pages-index-js-2f46ecf2764d1b0e30d5.js
  component---src-pages-index-js-2f46ecf2764d1b0e30d5.js.map
  component---src-pages-index-js-fc96d78b6d95e474c869.js
  component---src-pages-index-js-fc96d78b6d95e474c869.js.map
  index.html
  page-data/app-data.json
  page-data/index/page-data.json
  page-data/sq/d/1063243049.json
  webpack-runtime-138e26c91a93f4b74073.js
  webpack-runtime-138e26c91a93f4b74073.js.map
  webpack-runtime-3386a51062cac1468314.js
  webpack-runtime-3386a51062cac1468314.js.map
  webpack.stats.json
Due: eslint, prettier -l

Changes
  package.json
Due: prettier -l

Delete CNAME
  CNAME
Due: none

add archive notice
  README.md
Due: prettier -l

Deploying to gh-pages from @ b3809906897a1e3d46f40e8177500956e7cf8c47 🚀
  CNAME
  page-data/index/page-data.json
Due: prettier -l

Path conditions:
  eslint: any of: *.js
  prettier -l: any of: **/*.{md,css,js,json}
