Repository HubSpot/ooo-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -l

.lintstagedrc:

{
  "*.js": [
    "eslint"
  ],
  "**/*.{md,css,js,json}": [
    "prettier -l"
  ]
}

Add additional fields to form
  src/components/screens/form.js
Due: eslint, prettier -l

connect the screens
  src/components/screens/form.js
  src/components/screens/generator.js
  src/components/screens/loading.js
  src/pages/index.js
  yarn.lock
Due: eslint, prettier -l

just replace route back to index on 404
  src/pages/404.js
Due: eslint, prettier -l

fix window interaction with webpack
  src/pages/404.js
Due: eslint, prettier -l

Replace date picker with text fields
  README.md
  package.json
  src/components/date-range-picker.js
  src/components/screens/form.js
Due: eslint, prettier -l

Pull metadata from state
  src/components/screens/form.js
  src/components/screens/generator.js
Due: eslint, prettier -l

styled button, no palm tree (:rip:), darker shapes
  src/components/screens/form.js
  src/components/screens/outro.js
  src/components/style/tokens.js
Due: eslint, prettier -l

add ga tracking code
  src/layouts/index.js
Due: eslint, prettier -l

make prop types static properties
  src/components/screens/form.js
  src/components/screens/generator.js
Due: eslint, prettier -l

bye palm tree
  src/images/palmtree.png
Due: none

add auto-deploy step using travis.ci
  .travis.yml
Due: none

add blazar build steps
  .blazar-enabled
  .blazar.yaml
Due: none

remove travis configurations
  .travis.yml
Due: none

Update state on field change
  src/components/screens/form.js
  src/components/screens/generator.js
Due: eslint, prettier -l

Update formdata props
  src/components/screens/generator.js
Due: eslint, prettier -l

Cleanup
  src/components/screens/form.js
Due: eslint, prettier -l

slightly reduce contrast
  src/components/style/tokens.js
Due: eslint, prettier -l

add responsive affordance
  src/components/affordance.js
Due: eslint, prettier -l

format choices correctly
  src/components/choice.js
  src/components/style/headers.js
Due: eslint, prettier -l

add more templates
  templates/1.md
  templates/10.md
  templates/11.md
  templates/12.md
  templates/2.md
  templates/4.md
  templates/5.md
  templates/6.md
  templates/7.md
  templates/8.md
  templates/9.md
Due: prettier -l

Updates
  404.html
  404/index.html
  chunk-manifest.json
  commons-cd2a6a9ec5107a8c5d42.js.map
  index.html
  path---index-37eecd6561f251271097.js
  path---index-37eecd6561f251271097.js.map
  path---index-45c7734f5ac513b46242.js
  path---index-45c7734f5ac513b46242.js.map
  stats.json
Due: eslint, prettier -l

add contributors
  package.json
Due: prettier -l

Updates
  404.html
  404/index.html
  app-42d6b3d98a584805b68c.js.map
  app-b6b70f249b370e087b10.js
  app-b6b70f249b370e087b10.js.map
  chunk-manifest.json
  commons-cd2a6a9ec5107a8c5d42.js.map
  component---src-layouts-index-js-2ee3db50bab6f5c83086.js
  component---src-layouts-index-js-2ee3db50bab6f5c83086.js.map
  component---src-layouts-index-js-38222ddd4df3fd4862b0.js.map
  component---src-pages-index-js-dbb343a0f0005e4eea68.js
  component---src-pages-index-js-dbb343a0f0005e4eea68.js.map
  favicon.ico
  index.html
  path---index-3eb7012de37e04b1e203.js
  path---index-3eb7012de37e04b1e203.js.map
  path---index-eb4774e2583588bc1872.js
  path---index-eb4774e2583588bc1872.js.map
  stats.json
Due: eslint, prettier -l

add favicon
  static/favicon.ico
Due: none
